.welcome-container {
    background-image: url('https://i.ibb.co/GcnGy6t/chorus1.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; /* Full screen height */
    display: flex;
    align-items: flex-end; /* Align content to the bottom */
    justify-content: flex-start; /* Align content to the left */
    position: relative;
    color: white;
    font-family: 'Arial', sans-serif;
    font-weight: bold;

  }
  
  .welcome-text {
    font-size: 2.5rem; /* Adjust the size as needed */
    font-weight: bold;
    line-height: 2;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)); /* Gradient from light to dark */
    color: white; /* Ensure the text is visible */
    padding: 20px;
    margin-bottom: 0px;
    width: 100%; /* Make the text background span full width */
    box-sizing: border-box; /* Ensure padding doesn't exceed the width */
  }
  
  