/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 80px;
  background-color: #fff;
}

.logo img {
  width: 100px;
}

.menu-icon {
  display: none; /* Hidden by default */
  cursor: pointer;
}

ul {
  display: flex;
  list-style: none;
  font-size: 20px;
  gap: 18px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 430;
}

.nav-links {
  display: flex;
}

@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hidden by default on mobile */
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    z-index: 100; /* Ensure it's above other elements */
  }

  .nav-links.open {
    display: flex; /* Show on toggle */
  }

  .nav-links li {
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
  }

  .menu-icon {
    display: block; /* Show menu icon on mobile */
  }

  .logo img {
    width: 80px; /* Smaller logo */
  }
}
